body {
    overflow-x: hidden;/*pour pas que les gros symbole dépassent sur la cotés*/
    /* Dégradé radial en tant que fond */
    /* background: radial-gradient(circle at top right,#121F40,#121F40,#fff, #8A5576); */
    /* background-color: aquamarine; */
    margin-top: 200px;
    /*display: flex;*/
    /*align-items: center;
    justify-content: center;*/
    background: linear-gradient(to bottom, #121F40 20%, #8B5576 );
    margin: 0;
}


/******************BODY****************/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
} 

.erreur{
    margin-top :350px;
    min-height: 50vh;
}
.erreur h1,
.erreur h3,
.erreur p {
    margin-top: 50px;
}
.erreursvg img{
    width: 130%;
    margin-top: 60px;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 25pt; 
    font-weight: 800;
    letter-spacing: 10pt;
    line-height: 1.5;
    text-transform: uppercase;
    color: white;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px; 
    color: #121F40;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt; 
    font-weight: 700;
    letter-spacing: 2pt;
    text-transform: uppercase;
    color: #121F40;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
    color: #121F40;
}

.presentation p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
    color: #FCF9F9;
}

.accordion-button, .accordion-button:focus{
    border: none;
    outline: none;
    box-shadow: none !important;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacement vertical entre les boutons */
}

  .btnprimaire {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(21, 21, 147, 1);
    color: #FCF9F9;
    font-size: 15pt;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    padding: 8px 23px;
    text-decoration: none;
    /* margin-top: 40px; 
    margin-bottom: 40px;  */
    display: inline-block;
}
.btnprimaire:hover{
    background-color: rgba(21, 21, 147, 0.25);
    color: #151593;
}

.btnsecondaire{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #151593; 
    font-size: 15pt;
    text-transform: uppercase;
    border : 1px solid #151593;
    border-radius: 30px;
    padding: 8px 23px;
    text-decoration: none;
    

}
.btnsecondaire:hover{
    border : 1px solid #FCF9F9;
}
.btnsecondaire:active{
    color:#FCF9F9;
}

div.btndeconnexion{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #151593; 
    font-size: 13pt;
    text-decoration: none !important;
    border : 1px solid #151593;
    border-radius: 30px;
    padding: 8px 20px;
    justify-content: center;
    display: block;
    width: auto;
    align-items: center;
    
  

    
}


a:focus{
    outline: none !important;
}

.scrollToTopBtn {
    display: flex; 
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #151593;
    border : 1px solid #151593;
    border-radius: 30px;
    padding: 25px 20px;
    cursor: pointer;
    
}

.scrollToTopBtn img{
    width: 20px;

}

/*********************CUSTOM LIST************************/
.custom-list {
    list-style: none; /* Désactiver les points par défaut */
    padding-left: 20px; /* Ajouter un décalage à gauche pour l'espace du picto */
}

.custom-list li::before {
    content: url(../img/etoile.svg); /* Remplacez par le chemin réel de votre fichier SVG */
    display: inline-block;
    width: 18px; /* Ajustez la largeur du picto selon vos besoins */
    height: 18px; /* Ajustez la hauteur du picto selon vos besoins */
    margin-right: 8px; /* Ajoutez un espacement entre le picto et le texte */
}

/******************HEADER NAVBAR****************/
.nav-link[href*="home"] {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    color: transparent;
    margin: 30px 60px 30px 60px;
  }
.nav-link[href*="home"]:hover {
    color: transparent;
    text-decoration: none;
  }
.nav-link[href*="home"]::after {
    display: none;
  }
.scrolling .nav-link[href*="home"] {
    color: transparent;
    text-decoration: none;
}

  
.navbar {
    background-color: #121F40;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s, padding 0.3s;
}
.navbar-brand img{
    width: 150px;
    margin: 30px 40px 30px 40px;
}
.navbar-brand {
    margin-right:0;
    padding: 0 1em;
}
.navbar-nav {
    align-items:center;
}
.navbar-nav li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    font-weight: 400;
    color: #FCF9F9;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 40px 0px 40px;
    position: relative;
}
.navbar-nav li a:hover{
    color: #FCF9F9;
}
.navbar-nav li a::after {
    content: '';
    color : #FCF9F9;
    width: 0;
    height: 1px;
    background: #FCF9F9;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s;
}

.navbar-nav li a:hover::after {
    width: 100%;
}

.navbar .navbar-nav .navbar-link {
    color: #FCF9F9;
    font-size: 1.1em;
    padding: 0 1em;
}
.navbar-nav li a:active::after {
    width: 120%;
}

/* .nav-link img
    width: 30%;
} */
.space-between {
    margin-right: 100px; 
}
.scrolling .navbar-brand img {
    width: 70px; 
    margin: 0px 40px 0px 40px;
}

.scrolling .navbar {
    padding: 10px 0; 
}

.scrolling .navbar-nav a {
    font-family: 'Montserrat', sans-serif;
	font-size: 13pt;
    font-weight:400;
    text-align:center;
    color: #FCF9F9;
    text-transform: uppercase;
    margin: 0px 40px 0px 40px;
}



/******************FOOTER****************/

.logo{
    width: 250px;
    margin-top: 70px;
    opacity: 0.4;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap; /* permettre aux éléments enfants de passer à la ligne suivante si nécessaire */
}
.footer ul{
	list-style: none;
    line-height: 1.5;
} 
.footer{
	background-color: rgba(255, 255, 255, 0.2);
    padding: 50px 0 20px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-family: 'Montserrat', sans-serif;
    font-size: 23pt;
    font-weight: 500;
    color: #121F40;
	margin-bottom: 25px;
    display: inline-block;
    margin-left: 30px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    font-weight: 400;
    text-transform: uppercase;
    color: #FCF9F9;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}

.footer-col ul li a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #FCF9F9;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s;
}

.footer-col ul li a:hover::after {
    width: 100%;
}

.footer-col ul li a:active::after {
    width: 110%;
}

.footer-col .social-links{
    margin-right: 20px;
}
.social-links {
    text-align: center;
}

.social-links a {
    display: inline-block;
    margin:10px 10px 10px 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
}
.social-links img:hover{
    opacity: 0.7;
}


/***********************RESPONSIVE**********************/
@media screen and (max-width: 767px) {
    .navbar-collapse .nav-link[href*="home"] {
        display: none;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-col h4{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 10pt;
    }
    .footer-col .logo {
        width: 150px;
        margin-top : 0px;
        margin-left: 23px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 3px;
    }
    .navbar-brand img{
        width: 100px;
    }
    .erreursvg img{
        width: 100%;
    }
    .navbar-brand img{
        margin: 30px 0px 30px 0px;
    }
    .scrolling .navbar-brand img { 
        margin: 15px 0px 15px 0px;
    }
    .section{
        min-height: 20vh;
    } 
    h1{
        font-size: 15pt; 
        letter-spacing: 5pt;
        line-height: 1;
    }
    h2{
        font-size: 18px; 
    }
  
    h3{
        font-size: 10pt; 
        letter-spacing: 1pt;
    }
    p{
        font-size: 13px; 
        color: #121F40;
    }
    .presentation p{
        font-size: 25px; 
    }
    .btnprimaire{
        font-size: 12pt; 
    }
    .btnsecondaire{
        font-size: 12pt;
    }
    
    .chiffres .chiffresdeux{
        width: auto;

        overflow: hidden;
    }    
    div.roleparents{
        margin-top: 10vh;
    }

    .customlab{
        font-size: 18px; 
        
    }

    .custom {
        font-size: 13px;
    
    }
    .mot-de-passe-oublie, 
    .inscription {
        font-size: 13px;
    }
    .form-check-label{
        font-size: 13px;
    }
    .custom-radio-label{
        font-size: 13px;
    }
    select[name="semaines"]{
        font-size: 13px;
    }


/************************MENTIONS LEGALES *********************/

th.custom-th {
    font-size: 10pt; 
    letter-spacing: 1pt;
    margin: 0px 30px;
    flex-wrap: wrap;
    gap: 20px !important;
    
}

td.custom-td {
    font-size: 13px; 
    flex-wrap: wrap;
    
}


/**********************ENREGISTRER************************/
.customlab {
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.offset-md-3{
    margin-left: 0%;
}

}



/************************FORMULAIRES**********************/

form {
    text-align: center;
    width: auto; /* Largeur du formulaire */
    background-color: rgba(255, 255, 255, 0.3); /* Couleur blanche avec une opacité de 0.7 */
    padding: 90px 10px; /* Ajout de marge interne pour espacer les éléments du formulaire du bord */
    border-radius: 300px; /* Coins arrondis pour le formulaire */
    box-sizing: border-box;
    margin-bottom: 10vh;
    margin-top : 10vh;
 }
  
 
  
label {
    /* display: flex; */
    margin-bottom: 8px;
    margin-top: 20px;
    color: #FCF9F9;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px; 
    text-align: left;

    }

input {
    width: 60%;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    border-bottom: 1px solid #151593;
    background: none;
    color: rgba(21, 21, 147, 0.25); 
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 

    }

input:hover {
    color: #151593; /* Couleur du texte au survol */
    border-bottom: 1px solid #FCF9F9; /* Bordure du bas au survol */
    }


.customlab {
    text-align: left;

}



.custom-radio-input {
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
    color: #121F40;
}       

.custom-radio-label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    color:#FCF9F9; 
}

.custom-radio-input:hover {
    color: #151593; /* Couleur du texte au survol pour les radios */
}

.custom-radio-label:hover {
    color: #FCF9F9; /* Couleur du texte au survol pour les labels des radios */
}

input[type="radio"] {
    margin-right: 5px; /* Espacement à droite de la case à cocher */
    background-image: url(../img/btnradio.svg);
    border: none;
    
}

input[type="radio"]:checked {
    margin-right: 5px; /* Espacement à droite de la case à cocher */
    background-image: url(../img/btnradiocoche.svg);
    border: none;
    
}


        /* Styles pour les cases à cocher */
input[type="checkbox"] {
    margin-right: 5px; /* Espacement à droite de la case à cocher */
    background-image: url(../img/checkbox.svg);
    border: none;
    background-color: transparent;
    
}

/* Styles pour le libellé des cases à cocher */
.form-check-label {
    font-size: 16px;
    color:#121F40;
    margin-left: 5px; /* Espacement à gauche du libellé */
    margin-top: 0px;
    
}

.form-check-input[type="radio"] {
    background-color: transparent;
}

/* Style pour les cases à cocher lorsqu'elles sont cochées */
input[type="checkbox"]:checked {
    background-image: url(../img/checkboxcheck.svg);
}

.mot-de-passe-oublie, 
.inscription {
    color: #151593;
    text-decoration: none;
    display: inline-block;
    
}

.boutonlien{
        font-family: 'Montserrat', sans-serif;
    font-size: 8pt; 
    font-weight: 700;
    letter-spacing: 2pt;
    text-transform: uppercase;
        color: #121F40;
}

.mot-de-passe-oublie:hover, .inscription:hover {
    text-decoration: underline;
}


/*************************BOUTONS POUR AJOUTER PHOTO****************/
.file-upload-label {
    display: block;
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 90px 10px;
    border-radius: 300px;
    box-sizing: border-box;
    margin-bottom: 90px;
}

.file-upload-input {
    display: none;
}

.upload-icon {
    background-image: url('/');
    background-size: contain;
    width: 25px; /* Ajustez la largeur souhaitée */
    height: 25px; /*Ajustez la hauteur souhaitée */
    display: inline-block;
    transition: transform 0.5s ease; /* Ajustement de la transition */
}

.file-upload-label:hover .upload-icon {
    background-size: 120%; /* Ajustez la taille agrandie selon vos besoins */
    transform: scale(1.2); /* Ajustez la valeur de l'échelle selon vos besoins */
}


    /****************************************FORMULAIRE*****************************************/
div.form-group#semaines{
   align-items: center;
   text-align: center;
    
}

div.formgroup.enreg{
text-align: left !important;
}
  
   /* Ajouter ce style pour personnaliser le sélecteur */
select[name="semaines"] {
    font-family: 'Poppins', sans-serif; /* Utiliser la police Poppins */
    background-color: #FCF9F9; /* Fond blanc */
    color: #121F40; /* Couleur du texte (noir dans cet exemple) */
    padding: 5px; /* Ajouter un peu d'espace intérieur pour un meilleur aspect */
    border: 4px solid #FCF9F9; /* Ajouter une bordure pour une délimitation */
    border-radius: 50px; /* Ajouter des coins arrondis */
}

/* Ajouter ce style pour personnaliser la flèche du sélecteur (car elle peut ne pas être stylisable dans tous les navigateurs) */
select[name="semaines"]::-ms-expand {
    display: block;
  margin: 10px 10px;
}

select[name="semaines"]::after {
    content: '\25BC'; /* Ajouter une flèche vers le bas pour les navigateurs qui supportent l'élément après */
    font-size: 18px;
    position: absolute;
    margin-right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* Si vous souhaitez styliser les options du sélecteur */
select[name="semaines"] option {
    font-family: 'Poppins', sans-serif; /* Utiliser la police Poppins pour les options */
    background-color: #FCF9F9; /* Fond blanc pour les options */
    color: #151593; /* Couleur du texte pour les options (noir dans cet exemple) */
}


/****************************************COOKIES********************************/
section.presentationcookies{
    margin-top: 200px;
    margin-bottom: 100px;
    min-height: 40vh;
    
    
}

section.presentationcookies p{
    text-align: left;
    margin: 30px 0px;
    color: #FCF9F9;
}

section.presentationcookies h1{
    text-align: center;
    margin: 100px 0px;
}
/***************************************MENTIONS L2GALES****************************/
section.presentationml{
    margin-top: 200px;
    min-height: 30vh;
}

table {
    border-collapse: collapse; 
    width: 100%;
    display: block;
    /* margin: 20px 0px; */
}
.custom-th {
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    font-weight: 700;
    letter-spacing: 2pt;
    text-transform: uppercase;
    color:#FCF9F9;
    text-align: left;
    flex-wrap: wrap;
}

.custom-td {
    text-align: left;
    color:#FCF9F9; /* Text color */
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    flex-direction: column;
    flex-wrap: wrap;
}

.custom-tr {
    margin: 20px 0px;
    flex-direction: column;
}

.colinfo {
    background-color: #FCF9F9;
    padding: 60px 0px 70px 0px;
    margin: 10px 0px 70px 0px;
}
section.tableauinfoml, .collecte, .mlfin {
    min-height: 40vh;
}
.collecte{
    margin-bottom: 50px;
}
.collecte h2{
    color:#FCF9F9;
}
.collecte p{
    color:#FCF9F9;
}

a[href^="mailto"] {
    color: #121F40; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement */
    font-weight: bold; /* Poids de la police, si nécessaire */
    text-decoration: underline;
}
