/******************BACKGROUNG RADIAL GRADIENT****************/
body {
    overflow-x: hidden;/*pour pas que les gros symbole dépassent sur la cotés*/
    /* Dégradé radial en tant que fond */
    /* background: radial-gradient(circle at top right,#121F40,#fff, #8A5576);
    background: radial-gradient(circle at top left,#121F40,#fff, #8A5576); */
    /* background-color: aquamarine; */

    /* background: linear-gradient(to bottom, #121F40 10%, #FCF9F9 , #8A5576 ); */

   
    /* Ajustez les couleurs selon vos préférences */
    /* Vous pouvez également ajuster d'autres propriétés du dégradé radial */
    /* Pour assurer que le dégradé occupe toute la hauteur de la page */
    /*height: 100vh;*/
    margin: 0;
    /*display: flex;*/
    /*align-items: center;
    justify-content: center;*/
    /* background-repeat: no-repeat; */
   
    /* background: radial-gradient(circle at bottom left, transparent, #FCF9F9, #121F40), Bleu en haut à gauche */
                /* radial-gradient(circle at bottom right, #8A5576, transparent), /* Rose en haut à droite */
                /* radial-gradient(circle at 75% 50%, #8A5576, transparent), Rose au milieu à droite */
                /* radial-gradient(circle at bottom left, #8A5576, transparent), Rose en bas à gauche */
                /* radial-gradient(circle at bottom right, #8A5576, transparent); Rose en bas à droite */
    /* background-size: 100%; Ajuste la taille des cercles pour qu'ils couvrent la moitié de l'écran */
    /* background-position: top left, top right, 75% 50%, bottom left, bottom right; */
    
    background: linear-gradient(to bottom, #121F40 2%, #FCF9F9, #8B5576 );
}

/******************BODY****************/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
} 

.erreur{
    margin-top :350px;
    min-height: 50vh;
}
.erreur h1 h3 p {
    margin-top: 50px;
}
.erreursvg img{
    width: 130%;
    margin-top: 60px;
    margin-left: 0px;
    position: relative;
    overflow: hidden;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 25pt; 
    font-weight: 800;
    letter-spacing: 10pt;
    line-height: 1.5;
    text-transform: uppercase;
    color:#FCF9F9;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px; 
    color: #121F40;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt; 
    font-weight: 700;
    letter-spacing: 2pt;
    text-transform: uppercase;
    color: #121F40;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
    color: #121F40;
}
.presentation p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
    color: #FCF9F9;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacement vertical entre les boutons */
  }
.accordion-button, .accordion-button:focus{
    border: none;
    outline: none;
    box-shadow: none !important;
}


.btnprimaire{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(21, 21, 147, 1);
    color: #FCF9F9; 
    font-size: 15pt;
    text-transform: uppercase;
    border : none; 
    border-radius: 30px;
    padding: 8px 23px;
    text-decoration: none;
}
.btnprimaire:hover{
    background-color: rgba(21, 21, 147, 0.25);
    color: #151593;
}

.btnsecondaire{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #151593; 
    font-size: 15pt;
    text-transform: uppercase;
    border : 1px solid #151593;
    border-radius: 30px;
    padding: 8px 23px;
    text-decoration: none;
}
.btnsecondaire:hover{
    border : 1px solid #FCF9F9;
}
.btnsecondaire:active{
    color:#FCF9F9;
}
.btndeconnexion{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(21, 21, 147, 1);
    color: #FCF9F9; 
    font-size: 5pt;
    text-transform: uppercase;
    border : none; 
    border-radius: 30px;
    padding: 8px 23px;
    text-decoration: none;
}
a:focus{
    outline: none !important;
}

.scrollToTopBtn {
    display: flex; 
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #151593;
    border : 1px solid #151593;
    border-radius: 30px;
    padding: 25px 20px;
    cursor: pointer;
    
}

.scrollToTopBtn img{
    width: 20px;

}

/*********************CUSTOM LIST************************/
.custom-list {
    list-style: none; /* Désactiver les points par défaut */
    padding-left: 20px; /* Ajouter un décalage à gauche pour l'espace du picto */
}

.custom-list li::before {
    content: url(../img/etoile.svg); /* Remplacez par le chemin réel de votre fichier SVG */
    display: inline-block;
    width: 18px; /* Ajustez la largeur du picto selon vos besoins */
    height: 18px; /* Ajustez la hauteur du picto selon vos besoins */
    margin-right: 8px; /* Ajoutez un espacement entre le picto et le texte */
}

/******************HEADER NAVBAR****************/

.nav-link[href*="home"] {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    color: rgba(255,255, 255, 0);
    margin: 30px 60px 30px 60px;
  }
.navbar {
    background-color: #121F40;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s, padding 0.3s;
}
.navbar-brand img{
    width: 150px;
    margin: 30px 40px 30px 40px;
}
.navbar-brand {
    margin-right:0;
    padding: 0 1em;
}
.navbar-nav {
    align-items:center;
}
.navbar-nav li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    font-weight: 400;
    color: #FCF9F9;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 40px 0px 40px;
    position: relative;
}
.navbar-nav li a:hover{
    color: #FCF9F9;
}
.navbar-nav li a::after {
    content: '';
    color : #FCF9F9;
    width: 0;
    height: 1px;
    background: #FCF9F9;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s;
}

.navbar-nav li a:hover::after {
    width: 100%;
}

.navbar .navbar-nav .navbar-link {
    color: #FCF9F9;
    font-size: 1.1em;
    padding: 0 1em;
}
.navbar-nav li a:active::after {
    width: 120%;
}

/* .nav-link img
    width: 30%;
} */
.space-between {
    margin-right: 100px; 
}
.scrolling .navbar-brand img {
    width: 70px; 
    margin: 0px 40px 0px 40px;
}

.scrolling .navbar {
    padding: 10px 0; 
}

.scrolling .navbar-nav a {
    font-family: 'Montserrat', sans-serif;
	font-size: 13pt;
    font-weight:400;
    text-align:center;
    color: #FCF9F9;
    text-transform: uppercase;
    margin: 0px 40px 0px 40px;
}



/******************FOOTER****************/

.logo{
    width: 250px;
    margin-top: 70px;
    opacity: 0.4;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap; /* permettre aux éléments enfants de passer à la ligne suivante si nécessaire */
}
.footer ul{
	list-style: none;
    line-height: 1.5;
} 
.footer{
	background-color: rgba(255, 255, 255, 0.2);
    padding: 50px 0 20px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-family: 'Montserrat', sans-serif;
    font-size: 23pt;
    font-weight: 500;
    color: #121F40;
	margin-bottom: 25px;
    display: inline-block;
    margin-left: 30px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    font-weight: 400;
    text-transform: uppercase;
    color: #FCF9F9;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}

.footer-col ul li a::after {
    content: '';
    width: 0;
    height: 1px;
    background: #FCF9F9;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s;
}

.footer-col ul li a:hover::after {
    width: 100%;
}

.footer-col ul li a:active::after {
    width: 110%;
}

.footer-col .social-links{
    margin-right: 20px;
}
.social-links {
    text-align: center;
}

.social-links a {
    display: inline-block;
    margin:10px 10px 10px 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
}
.social-links img:hover{
    opacity: 0.7;
}

/***********************RESPONSIVE**********************/
@media screen and (max-width: 767px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-col h4{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 10pt;
    }
    .footer-col .logo {
        width: 150px;
        margin-top : 0px;
        margin-left: 23px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 3px;
    }
    .navbar-brand img{
        width: 100px;
    }
    .erreursvg img{
        width: 100%;
    }
    .navbar-brand img{
        margin: 30px 0px 30px 0px;
    }
    .scrolling .navbar-brand img { 
        margin: 15px 0px 15px 0px;
    }
    .section{
        min-height: 20vh;
    } 
    h1{
        font-size: 15pt; 
        letter-spacing: 5pt;
        line-height: 1;
    }
    h2{
        font-size: 18px; 
    }
    h3{
        font-size: 10pt; 
        letter-spacing: 1pt;
    }
    p{
        font-size: 13px; 
        color: #121F40;
    }
    .presentation p{
        font-size: 25px; 
    }
    .btnprimaire{
        font-size: 12pt; 
    }
    .btnsecondaire{
        font-size: 12pt;
    }
    .chiffres .chiffresdeux{
        width: auto;

        overflow: hidden;
    }    
    div.roleparents{
        margin-top: 10vh;
    }
    /*situation ou vous devez consulter votre medecin TOUT SAVOIR*/
    .consult h2{
        margin-top : 0;
    }
    .consultmedecin .custom-list li{
        font-size: 13px; 
    }
    .custom-list li::before {
        width: 12px; /* Ajustez la largeur du picto selon vos besoins */
        height: 12px; 
    }
    /*CONSEILS TRIMESTRES*/
    .premiertri .custom-list li{
        font-size: 13px; 
    }
    .deuxiemetri .custom-list li{
        font-size: 13px; 
    }
    .troisiemetri .custom-list li{
        font-size: 13px; 
    }
    /*************ACCORDION TOUT SAVOIR**************/
    .accordionpatho .accordion-item button{
        font-size: 10pt; 
        letter-spacing: 1pt;
    }
    .accordionpatho .accordion-body{
        font-size: 13px; 
        color: #121F40;
    }
    /*************ACCORDION CONSEILS NUTRITION**************/
    .accordionnutrition .accordion-item button{
        font-size: 10pt; 
        letter-spacing: 1pt;
    }
    /*********ACCEUIL HOME INDEX*********/
    section.grossesse div{
        margin-top : 0px;
        max-height: 10vh;
    }
    section.formulaire div{
        min-height: 10vh;;
    }
    
    .scrollToTopBtn {
        padding: 20px 15px;
    }
    
    .scrollToTopBtn img{
        width: 20px;
        
    }
    .scrollToTopBtn img{
        width: 15px;
        
    }
 }



/******************SECTIONS/MAIN ACCEUIL****************/
section.grossesse{
    margin-top : 270px;
    min-height: 40vh;
}

section{
    min-height: 70vh;
}
section.formulaire{
    min-height: 30vh;
}


div.roleparents{
    margin-top: 50vh;
}

section.newsletter{
    min-height: 40vh;
}

.symbolespapamaman {
    width: 55vw;
    margin-top: 10vh;
    margin-left: 60px;
    position: relative;
    overflow: hidden;
}

section.fruits{
    background-color: #FCF9F9;
    padding: 70px 30px;
    
}

/* .fruits img{
    width: 10%;
}  */
.fruits .images img {
    display: none;
    width: 50%;
    margin: 40px;
}

.fruits .images img.active {
    display: block;
    width: 50%;
}
/*****************AJUSTEMENTS TAILLES GRANDES IMAGES CAROUSEL******************/
.fruits .images img.grananas {
    width: 35%; /* Ajustez la taille selon vos besoins */
}
.fruits .images img.grorange {
    width: 70%; /* Ajustez la taille selon vos besoins */
}
.fruits .images img.grcitrouille {
    width: 60%; /* Ajustez la taille selon vos besoins */
}
.fruits .images img.grpoire {
    width: 40%; /* Ajustez la taille selon vos besoins */
}
.fruits .images img.grframboise {
    width: 40%; /* Ajustez la taille selon vos besoins */
}
.fruits .images img.grkiwi {
    width: 60%; /* Ajustez la taille selon vos besoins */
}


.fruits .text article {
    display: none;
}

.fruits .text article.active {
    display: block;
}
.data-index p{
    text-align: left;
}
.btnfruits ul {
    display: flex; /* utilisation flexbox pour aligner verticalement les éléments */
    align-items: flex-end;
}
.btnfruits li{
    margin: 0 5px;
}
/*arrière-plan des liens actifs */
.nav-link.active {
    background-color: transparent !important; /* Rend l'arrière-plan transparent */
    color: #121F40 !important; /* Définit la couleur du texte (changez #000 selon vos besoins) */
}
.nav-link{
    color:#121F40;
}
.nav-link:hover{
    color:#8A5576;
}
.nav-link img:hover{
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out; 
    filter: brightness(1.2);
}
/************************CAROUSEL PETITES IMAGES**********************/
.pttpois{
    width: 70%;
}
.framboise{
    width: 50%;
}
.kiwi{
    width: 75%;
}
.poire{
    width: 50%;
}
.artichaud{
    width: 70%;
}
.orange{
    width: 125%;
}
.choufleur{
    width: 100%;
}
.coco{
    width: 110%;
}
.ananas{
    width: 100%;
}
.citrouille{
    width: 200%;
}

/*****************************ARRANGEMENT DES TEXTES DU CAROUSSEL***************************************/
.text p {
margin: 30px 0px;

}
.fruits h2{

    margin-bottom: 70px;
}

.pt {
    text-align: left;
}

/******************SECTIONS/MAIN TOUT SAVOIR SUR LA GROSSESSE****************/
section.presentationttsav{
    margin-top: 200px;
    min-height : 60vh;
}
section.presentationttsav p{
    color: #FCF9F9;
}
section.accordionpatho{
    margin-top: 100px;
    display: inline;
}
.accordionpatho h2{
    padding: 60px;
}
/* Supprimer le fond de l'accordéon */
.accordion-item {
    background-color: transparent; 
    border: none; 
}
  
.accordion-button {
    background-color: transparent;  /* Couleur de fond du bouton */
    color: #121F40; /* Couleur du texte du bouton */
    /* border-bottom: 1px solid #121F40; */
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt; 
    font-weight: 700;
    letter-spacing: 2pt;
    text-transform: uppercase;
}

  /* Style pour les zones de contenu de l'accordéon */

.accordion-body {
    background-color: transparent;/* Couleur de fond de la zone de contenu */
    color: #121F40; 
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
}
.accordion-button:not(.collapsed) {
   background-color: transparent;
   border-color: transparent;
   color: #121F40;
}

.consultmedecin{
    margin-top : 150px;
}
.consultmedecin ul li{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
    color: #121F40;

}
.consult{
    margin-top : 100px;
}

.complications{
    min-height: 30vh;
    text-align: center;
}


  /******************PAGE CONSEILS****************/
.presentationconseils{
    margin-top : 200px;
    min-height: 30vh;
}
.presentationconseils p{
    color:#FCF9F9;
}
.txtconseils{
    margin-top: 150px;
}
.premiertri ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
    color: #121F40;
    text-align: left;
    
  }
.deuxiemetri ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
    color: #121F40;
    text-align: left;
    
  }
.troisiemetri ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
    color: #121F40;
    text-align: left;

}
.chiffres {
    width: 35vw;
    margin-left: 80px;
    position: relative;
    overflow: hidden;
}
.deuxiemetri {
    position: relative;
    overflow: hidden;
    padding-bottom: 130px;
}
.chiffresdeux {
    width: 35vw;
    position: absolute;
    overflow: hidden;
    left: -40px;
  } 

/* section.accordionnutrition{
    margin-top: 100px;
    margin-bottom: 100px;
    display: inline;

}  */



.lovemessage {
    margin-top: 150px;
    min-height: 20vh;
}

  /******************PAGE MES OBJECTIFs****************/
section.presentationobjectifs{
    margin-top: 200px;
    min-height: 40vh;
}

#task-list {
    width: auto;
    margin: 0 auto;
    display: inline;
}
#task-list h2{
    text-align: center;
    margin-bottom: 50px;
}

#tasks ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
li.done {
    text-decoration: line-through;
}


/* label {
    display: block;
    margin-top: 10px;
} */

button {
    margin-top: 30px;
}
  
label {
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt; 
    font-weight: 700;
    letter-spacing: 2pt;
    text-transform: uppercase;
    color: #121F40;
    display: block;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
   
  }
  
  input {
    width: 60%;
    padding: 8px;
    margin-bottom: 40px;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    border-bottom: 1px solid #151593;
    background: none;
    color: rgba(21, 21, 147, 0.25); 
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
}
    input:hover {
        color: #151593; /* Couleur du texte au survol */
        border-bottom: 1px solid #FCF9F9; /* Bordure du bas au survol */
        }
/* Ajoutez ces styles pour personnaliser les nouvelles tâches */
#tasks li.user-task {
    text-align: left;
}
#tasks li.user-task {
    width: 60%;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    border-bottom: 1px solid #151593;
    background: none;
    color: #121F40;
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
    list-style: none;
}

#tasks li.user-task.done {
    color: rgba(21, 21, 147, 0.25); 
}

/***********MON SUIVI CSS**********/
.file-upload-label {
    display: block;
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 90px 10px;
    border-radius: 300px;
    box-sizing: border-box;
    margin-bottom: 90px;
}

.file-upload-input {
    display: none;
}